version: '2'
services:
  db:
    image: postgres
    ports:
      - "5430:5432"
  app:
    build: .
    environment:
      POSTGRES_HOST: 'db'
    command: bundle exec puma -p 3000
    volumes:
      - .:/usr/src/shorty
    ports:
      - "3000:3000"
    links:
      - db
